body, table {
	font-family:Arial, Helvetica, sans-serif;
	color:#33333;
	font-size:12px;
}

select {
   background: #fff;
   border: none;
}

table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}

table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

table tr:last-child > td:first-child {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}

table tr:last-child > td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

table tr:last-child > th:first-child {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}

table tr:last-child > th:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}

.ttable th {
	padding: 1px 0px 1px 0px;
}

.ttable td {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
	background: -moz-linear-gradient(top,  #fcfcfc,  #fafafa);
}

.ttable td.rowEven {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.ttable {
	#box-shadow: 0 1px 2px #d1d1d1;
}
.ttable th {
	text-shadow: 1px 1px 0px #fff;
}
.ttable tr:hover td {
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#efefef));
	background: -moz-linear-gradient(top,  #e2e2e2,  #efefef);	
}
.menuItem {
	font-size: 12px;
	font-weight: bold;
}
a.menuItem {
	color: #000000;
	text-decoration: none;
}
a.menuItem:hover {
	color: #ff0000;
	text-decoration: none;
}
.menuItemSelect {
	font-size: 14px;
	font-weight: bold;
}
a.menuItemSelect {
	color: #ff0000;
	text-decoration: none;
}
a.menuItemSelect:hover {
	color: #ff0000;
	text-decoration: none;
}

.domainTitle {
	background: #d1e8ff; /* Old browsers */
	background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
	border: #999999 1px solid;
	background-color: #99ccff;
	font-weight: bold;
}
.searchTitle {
	background: #d1e8ff; /* Old browsers */
	background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
	border: #999999 1px solid;
	background-color: #99ccff;
	font-weight: bold;
}

.newDPID {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 12px;
	color: #000000;
	width: 200px;
}
.formInfo {
	font-style: italic;
	color: #0000ff;
}
.formError {
	font-style: italic;
	color: #ff0000;
}
.Button {
	border: #aaaaaa 2px outset;
	background-color: #dddddd;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
}

.ButtonLink {
	padding:0px 18px 0px 18px;
	border-top: 1px solid #ffffff;
	border: #aaaaaa 1px solid;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
	background: -moz-linear-gradient(top,  #ececec,  #eaeaea);
	background-color: #dddddd;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 0px #fff;
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.ButtonLink:hover {
	background: #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#dfdfdf));
	background: -moz-linear-gradient(top,  #d2d2d2,  #dfdfdf);	
}

.pageTitle {
   font-size: 12px;
	color: #ff0000;
	font-weight: bold;
}

.searchRecord {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.listRecord {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.dataRecord {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.searchInput {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 10px;
	color: #000000;
	width: 200px;
}
.searchButton {
	padding:0px 18px 0px 18px;
	border-top: 1px solid #ffffff;
	border: #aaaaaa 1px solid;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
	background: -moz-linear-gradient(top,  #ececec,  #eaeaea);
	background-color: #dddddd;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 0px #fff;
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.searchButton:hover {
	background: #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#dfdfdf));
	background: -moz-linear-gradient(top,  #d2d2d2,  #dfdfdf);	
}


.dataTitle {
	background: #d1e8ff; /* Old browsers */
	background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
	border: #999999 1px solid;
	background-color: #99ccff;
	font-weight: bold;
}

.timeRecord {
	font-size: 10px;
	font-weight: bold;
}
.dataInput {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 12px;
	color: #000000;
	width: 200px;
}
.dataInputCustom {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 10px;
	color: #000000;
}
.dataSelect {
	border: #999999 1px solid;
	font-size: 10px;
	color: #000000;
	width: 200px;
}
a.gwList {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.gwList:hover {
	font-size: 12px;
	color: #ff0000;
	text-decoration: none;
}

.pageActive {
	border: #999999 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10px;
	font-weight: bold;
	color: #000090;
}
a.pageList {
	font-size: 10px;
	color: #000090;
	text-decoration: none;
}
a.pageList:hover {
	font-size: 10px;
	color: #ff0000;
	text-decoration: none;
}

.formButton {
	padding:0px 18px 0px 18px;
	border-top: 1px solid #ffffff;
	border: #aaaaaa 1px solid;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
	background: -moz-linear-gradient(top,  #ececec,  #eaeaea);
	background-color: #dddddd;
	font-size: 9px;
	font-weight: bold;
	color: #000000;
	text-shadow: 1px 1px 0px #fff;
	-moz-border-radius:5px;  
	border-radius: 5px;  
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.formButton:hover {
	background: #d2d2d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#dfdfdf));
	background: -moz-linear-gradient(top,  #d2d2d2,  #dfdfdf);	
}

.formError {
	font-style: italic;
	color: #ff0000;
}

a.backLink {
	font-size: 10px;
	color: #000090;
	text-decoration: none;
}
a.backLink:hover {
	font-size: 10px;
	color: #000090;
	text-decoration: underline;
}

#overlay {
    position:absolute;
    z-index:10;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000039;
    filter:alpha(opacity=10);
    -moz-opacity:0.5;
    opacity:0.5;
    cursor:pointer;

}

.dialog {
	display: table;
    position:fixed;
    background-color:trasparent;
    z-index:12;
}

fieldset {
    font-family: sans-serif;
    border: 2px solid #99ccff;
    background: transparent;
	background-color: rgba(255,255,255,1);
	-moz-border-radius:7px;  
	border-radius: 7px;  
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	display: block;
	vertical-align: middle;
	height: 130px;
	#overflow: auto;
	width: 320px;
}

fieldset legend {
    background: #99ccff;
	background: #d1e8ff; /* Old browsers */
    background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
    color: black;
    padding: 5px 10px ;
    font-size: 10px;
	font-weight: bold;
	-moz-border-radius:7px;  
	border-radius: 7px;  
	-webkit-border-radius: 7px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 5px;
}

.listContactTitle {
        border: #999999 1px solid;
		background-color: #99ccff;
		font-weight: bold;
		width: 70px;
}




####################
##################



h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}
h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 2em 0 0;
}
p {
    margin: 0.6em 0;
}
p.tabnav {
    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
}
p.tabnav a {
    color: #999;
    text-decoration: none;
}
article.tabs {
    display: block;
    height: 15em;
    margin: 10px 5px 5px 5px;
    position: relative;
    #width: 40em;
}
article.tabs section {
    background-color: #ddd;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: block;
    #height: 12em;
    left: 0;
    padding: 5px;
    position: absolute;
    #top: 1.8em;
    z-index: 0;
}
article.tabs section h2 {
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
    color: #999;
    font-size: 1em;
    font-weight: normal;
    height: 1.8em;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -1.8em;
    width: 79px;
}
article.tabs section:nth-child(1) h2 {
    left: 0px;
}
article.tabs section:nth-child(2) h2 {
    left: 80px;
}
article.tabs section:nth-child(3) h2 {
    left: 160px;
}
article.tabs section:nth-child(4) h2 {
    left: 240px;
}

article.tabs section:target h2 ~ article.tabs section:nth-child(1) h2  {
	background-color: red;
	display:none;
}

article.tabs section h2 a {
    color: inherit;
    display: block;
    line-height: 1.8em;
    outline: 0 none;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
article.tabs section, article.tabs section h2 {
    transition: all 500ms ease 0s;
}

article.tabs section table {
	display: none;
}

article.tabs section:target table {
	display: block;
}
article.tabs section:target, 
article.tabs section:target h2 {
    background-color: #fff;
    color: #333;
    z-index: 2;
}

.nocontacts {
	background-image: url("../images/nocontacts.png");
	width: 200px;
	height: 200px;
	margin-top: 62px;
}

