@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, table {
	font-family: 'Montserrat', sans-serif;
	color:#33333;
	font-size:13px;
}


table.search-area > tbody > tr > td:first-child{
	padding-left: 30px;
}
table.search-area > tbody > tr > td:last-child{
	padding-right:  30px;
}
/*
table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}

table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

table tr:last-child > td:first-child {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}

table tr:last-child > td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}

table tr:first-child th:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}

table tr:first-child th:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

table tr:last-child > th:first-child {
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}

table tr:last-child > th:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
*/

.pagingTable {
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	border-spacing: 0px;
	border: 0px;
	color: #1cbe9a;
}

.ttable th {
	padding: 1px 0px 1px 10px;
}

.ttable td {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#fafafa));
	background: -moz-linear-gradient(top,  #fcfcfc,  #fafafa);
}

.ttable td.rowEven {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.ttable td.rowEvenImg {
	padding:0px;
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.ttable td.rowOddImg {
	padding:0px;
}

.ttable {
	#box-shadow: 0 1px 2px #d1d1d1;
}
.ttable th {
	text-shadow: 1px 1px 0px #fff;
}
.ttable tr:hover td {
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#efefef));
	background: -moz-linear-gradient(top,  #e2e2e2,  #efefef);	
}


.menuItem {
	font-size: 14px;
}
a.menuItem {
	color: #8896a3;
	text-decoration: none;
}
a.menuItem:hover {
	color: #9869ed;
	text-decoration: none;
}
.menuItemSelect {
	font-weight: bold;
	font-size: 14px;
}
a.menuItemSelect {
	color: #9869ed;
	text-decoration: none;
}
a.menuItemSelect:hover {
	color: #9869ed;
	text-decoration: none;
}
.exampleButton {
	font-weight: bold;
	font-size: 10px;
}
a.exampleButton {
	color: #9869ed;
	text-decoration: none;
}
a.exampleButton:hover {
	color: #9869ed;
	text-decoration: none;
}
.menuItems{
	padding: 20px 0;
	text-align: left;	
}









.formInfo {
	font-style: italic;
	color: #0000ff;
}
.formError {
	font-style: italic;
	color: #ff0000;
}

.mainTitle {
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 20px;
	color: #1cbe9a;
}

.sectionTitle {
	text-align: left;
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 17px;
	padding-left: 10px;
	color: #1cbe9a;
}

.listTitle {
	text-align: left;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
	padding-bottom: 10px;
	color: #1cbe9a;
}


.ButtonLink, .searchButton, .formButton{
	padding: 10px 20px;
	border: 1px solid #1cbe9a;
	background: #1cbe9a;
	color: #fff;
	border-radius: 5px;
	margin: 20px;
	box-shadow: 0 3px 5px #d2d9e0;
	cursor: pointer;
	font-weight: 600;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	display: inline-block;
	margin: 20px 0;
}

.inlineButton{
	padding: 7px 0px;
	border: 1px solid #1cbe9a;
	background: #1cbe9a;
	color: #fff;
	border-radius: 5px;
	margin: 0px;
	box-shadow: 0 3px 5px #d2d9e0;
	cursor: pointer;
	font-weight: 600;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	display: inline-block;
}

.ButtonLink:hover, .searchButton:hover, .formButton:hover, .inlineButton:hover {
	background: #16a686
}

.searchButton:last-child{
	background: #fff;
	color: #1cbe9a;
	border-color: #fff;
}
.searchButton:first-child{
	background: #1cbe9a;
	color: #fff;
	border-color: #1cbe9a;
}

.formButton[name="delete"] {
	background: #f26a60;
	border-color: #f26a5f;
}

.formButton[name="delete"]:hover {
	background: #f6a29a;
	border-color: #f6a29a;
}

.formButton[name="reload"] {
	background: #f26a60;
	border-color: #f26a5f;
}

.formButton[name="reload"]:hover {
	background: #f6a29a;
	border-color: #f6a29a;
}

.formButton:disabled,
formButton[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.searchButton:last-child:hover {
	color: #16a686
}

.searchButton:first-child:hover{
	background: #16a686;
	color: #fff;
}




.searchRecord, .dataRecord {
	font-weight: bold;
	color: #8194a7;
	white-space: nowrap;
}

.searchRecord:first-child, .dataRecord:first-child {
	width: 65px;
}

.searchInput, .dataSelect, .dataInput {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #e9ecef;
	width: 100% !important;
	height: 34px;
}

.dataSelect {
	font-size: 10px;
	color: #000000;
	width: 200px;
}

.boxSelect {
	padding: 1px;
	border-radius: 5px;
	border: #999999 1px solid;
	font-size: 12px;
}

.pageTitle {
   font-size: 12px;
	color: #ff0000;
	font-weight: bold;
}

.searchTitle {
	border: #999999 1px solid;
	background-color: #99ccff;
	font-size: 11px;
	font-weight: bold;
}
.listRecord {
	padding:2px 14px 2px 14px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}

.dataTitle {
	border: #999999 1px solid;
	background-color: #99ccff;
	font-weight: bold;
}
.timeRecord {
	font-size: 10px;
	font-weight: bold;
}
.dataInputCustom {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 10px;
	color: #000000;
}

.pageActive {
	border: #999999 1px solid;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10px;
	font-weight: bold;
	color: #000090;
}
a.pageList {
	font-size: 10px;
	color: #1cbe9a;
	text-decoration: none;
}
a.pageList:hover {
	font-size: 10px;
	color: #000090;
	text-decoration: none;
}

.formError {
	font-style: italic;
	color: #ff0000;
}







a.backLink {
	font-size: 10px;
	color: #000090;
	text-decoration: none;
}
a.backLink:hover {
	font-size: 10px;
	color: #000090;
	text-decoration: underline;
}

#overlay {
    position:absolute;
    z-index:10;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000039;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity:0.5;
    cursor:pointer;

}

.dialog {
	display: table;
	position:fixed;
	background-color:trasparent;
	z-index:12;
}

fieldset {
	border: 2px solid #99ccff;
	background: transparent;
    	opacity:0.8;
	background-color: #eeeeee;
	-moz-border-radius:7px;  
	border-radius: 7px;  
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	display: block;
	vertical-align: middle;
	height: 380px;
	#overflow: auto;
	width: 320px;
}

fieldset legend {
    background: #1cbe9a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
    color: white;
    padding: 5px 10px ;
    font-size: 12px;
	font-weight: bold;
	-moz-border-radius:7px;  
	border-radius: 7px;  
	-webkit-border-radius: 7px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 5px;
}

.listContactTitle {
        border: #999999 1px solid;
		background-color: #99ccff;
		font-weight: bold;
		width: 70px;
}




####################
##################



h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}
h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 2em 0 0;
}
p {
    margin: 0.6em 0;
}
p.tabnav {
    font-size: 1.1em;
    text-align: right;
    text-transform: uppercase;
}
p.tabnav a {
    color: #999;
    text-decoration: none;
}
article.tabs {
    display: block;
    height: 15em;
    margin: 10px 5px 5px 5px;
    position: relative;
    #width: 40em;
}
article.tabs section {
    background-color: #ddd;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: block;
    #height: 12em;
    left: 0;
    padding: 5px;
    position: absolute;
    #top: 1.8em;
    z-index: 0;
}
article.tabs section h2 {
    background-color: #ddd;
    border-radius: 5px 5px 0 0;
    color: #999;
    font-size: 1em;
    font-weight: normal;
    height: 1.8em;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -1.8em;
    width: 79px;
}
article.tabs section:nth-child(1) h2 {
    left: 0px;
}
article.tabs section:nth-child(2) h2 {
    left: 80px;
}
article.tabs section:nth-child(3) h2 {
    left: 160px;
}
article.tabs section:nth-child(4) h2 {
    left: 240px;
}

article.tabs section:target h2 ~ article.tabs section:nth-child(1) h2  {
	background-color: red;
	display:none;
}

article.tabs section h2 a {
    color: inherit;
    display: block;
    line-height: 1.8em;
    outline: 0 none;
    text-align: center;
    text-decoration: none;
    width: 100%;
}
article.tabs section, article.tabs section h2 {
    transition: all 500ms ease 0s;
}

article.tabs section table {
	display: none;
}

article.tabs section:target table {
	display: block;
}
article.tabs section:target, 
article.tabs section:target h2 {
    background-color: #fff;
    color: #333;
    z-index: 2;
}

p, li, td, .menu_active, input, button {
	font-family: 'Montserrat', sans-serif;
}

.breadcrumb{
	border-bottom: 1px solid #ccc;
	padding-bottom: 13px;
	color: #506c89;
}

.border-bottom-devider {
    border-bottom: 3px solid #d7dadc;
}

.textlink {
	color: inherit;
	text-decoration: inherit;
}

/* =================TOOLTIP======================= */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    white-space: normal;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#config_admin:before{
	content: url("../../../images/sett.png");  
	float: right;
}

.headerLogout {
	padding-right: 20px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: rgb(37, 36, 36);
	/*text-shadow: 1px 1px 0 #333; */
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	padding-left: 5px;
}
.headerLogout:before {
	display: inline-block;
	float: right;
	padding-right: 60px;
	margin-bottom: -20px;
	margin-top: -5px;
}

.textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	resize: both;
	min-height: 40px;
	line-height: 20px;
  }
  
  .textarea[contenteditable]:empty::before {
	content: "Placeholder still possible";
	color: gray;
  }

  
  .gridline{
	stroke: black;
	stroke-opacity: .2;
	}

	.listening-rect {
		fill: transparent;
		}

	.tooltipd3 {
		opacity: 0;
		position: absolute;
		top: -14px;
		left: 0;
		padding: 0.6em 1em;
		background: #fff;
		text-align: center;
		line-height: 1.4em;
		font-size: 0.9em;
		border: 1px solid #ddd;
		z-index: 10;
		transition: all 0.1s ease-out;
		pointer-events: none;
	}

	.tooltipd3:before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 12px;
		height: 12px;
		background: white;
		border: 1px solid #ddd;
		border-top-color: transparent;
		border-left-color: transparent;
		transform: translate(-50%, 50%) rotate(45deg);
		transform-origin: center center;
		z-index: 10;
	}

	.tooltipd3-date {
		margin-bottom: 0.2em;
		font-weight: 600;
		font-size: 1.1em;
		line-height: 1.4em;
	}

	.wrapper {
		position: relative;
	}