body, table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
.headerTable {
	/* background: -webkit-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -o-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -ms-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -moz-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: linear-gradient(to bottom, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	border: 1px solid #999999; */

}

.loginTitle {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.loginLabel {
	color: #333;
	font-size: 12px;
}
.loginInput {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 12px;
	color: #000000;
	width: 160px;
}
.loginError {
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
}


.headerTitle {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial,Helvetica,sans-serif;
}
a.headerLogout {
	/* background: url("images/logout.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
	padding-left: 20px;
    cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial,Helvetica,sans-serif;
    margin: 3px;
    text-decoration: none; */
}
a.headerLogout:hover {
	/*background: url("images/logout-red.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);*/
}

a.menuItem {
	font-size: 13px;
	font-weight: bold;
	color: #0969b5;
	text-decoration: none;
}
a.menuItem:hover {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none; 
}

a.menuItem:focus, a.menuItem:active {
	font-size: 13px;
	font-weight: bold;
	color: #000000;  ! important
	text-decoration: none; 
	outline:none;
}

a.submenuItem {
	/*	font-size: 13px;
		font-weight: bold;
		color: #0969b5;
		margin-left : 10px;
		
		background: url(images/bullet_default.png) no-repeat center left; /*custom bullet list image*/
		padding: 10px 0;
		padding-left: 15px; /*link text is indented 19px*/
		text-decoration: none;
        text-indent: left;*/
}
a.submenuItemActive {
		/*font-size: 13px;
		font-weight: bold;
		color: #0969b5;
		margin-left : 10px;
		
		background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
		padding: 10px 0;
		padding-left: 15px; /*link text is indented 19px*/
		text-decoration: none;
        text-indent: left;*/
}
a.submenuItem:hover {
	/*font-size: 13px;
	font-weight: bold;
	color: #000000;
	background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
	text-decoration: none; */
}

a.submenuItem:focus, a.submenuItem:active {
	/*font-size: 13px;
	font-weight: bold;
	color: #000000;  
	background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
	
	text-decoration: none; 
	outline:none;*/
}


.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #fff;
    text-shadow: 1px 1px 0 #333;
    font-family: Arial,Helvetica,sans-serif;
}

#masterdiv {
        list-style:none;
}

.menu {
       /* text-decoration:none;
        text-indent: 50px;
        line-height: 1.6;
        color: white;
        font-family: System, serif;
        font-size: 17px;
		-moz-border-radius:5px;  
		border-radius: 5px;  
        background:  url(images/menu_default.png)  no-repeat center left;
        width: 160px;
        height: 32px;
        margin: 3px;
        cursor:pointer; */
}


/*
.menu:hover {
        background:  url(images/menu_active.png);
		-moz-border-radius-bottomleft: 10px;
        
}

.menu:active {
        background:  url(images/menu_active.png);
		-moz-border-radius-bottomleft: 10px;
       
}
*/
.menu_active {
       /* text-decoration:none;
        text-indent: 50px;
        line-height: 1.6;
        color: white;
        font-family: System, serif;
        font-size: 17px;
        background:  url(images/menu_active.png)  no-repeat center left;
		-moz-border-radius:5px;  
		border-radius: 5px;  
        width: 160px;
        height: 32px;
        margin: 3px;
        cursor:pointer;*/
       
}

.menu:visited {
		color: #FFF;
        display: block;
        background:  url(images/menu_default.png);
		-moz-border-radius-bottomleft: 10px;
        
}

.submenu {
		
/*	background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); 
	background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); 
	background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); 
	background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); 
	background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); 
	-moz-border-radius:5px;  
	border-radius: 5px;  
    margin-left: 13px;
	width: 150px;
    line-height: 0.5;
    background-color: 99ccff;
    float: down;
    clear: center;
    cursor: pointer;
	font-family:Arial, Helvetica, sans-serif;
	color:#33333;
	font-size:10px;*/
}

/* ============== YAEL 05/2018 ========================= */
/* === RESET CSS ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ================== */
/* ================================================== */
/* ================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body, table {
    font-family: 'Montserrat', sans-serif;
    color: #33333;
    font-size: 12px;
}
html, body{
font-family: 'Montserrat', sans-serif;

}

.headerTable{
background: #3e5771;
padding: 15px;
    height: 55px;
    min-height: 55px;
}
.headerTable > tbody > tr > td{
padding: 4px;
}
.menu{
padding: 20px 30px;
border-bottom: 1px solid #3e5671;
}
.menu:hover{background-color: #374d66;}
.menu:active{background-color: #374d66;}
.menu_active{background-color: #1bbd9b;padding: 20px 30px;}

.submenu{border-bottom: 1px solid #3e5671;
}
.submenu > table{
	width: 100%;    
	margin-bottom: 33px;
    background: #202c38;
}
a.submenuItem, a.submenuItemActive {
	padding: 8px 10px 8px 30px;
    font-size: 14px;
    display: block;
    color: #b4c0cc;
cursor: pointer;
border-bottom: 1px solid #394f68;
}
a.submenuItem:hover {color: #fff; background: #263441;}
a.submenuItemActive {color: #1bbd9b;}
a.headerLogout{
color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;	
  padding: 5px 14px;
    display: inline-block;
    background: #1e2832;
    border-radius: 3px;}
.breadcrumb{
	border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    color: #506c89;
}
p, li, td, .menu_active, input, button {
    font-family: 'Montserrat', sans-serif;
}
.border-bottom-devider {
    border-bottom: 3px solid #d7dadc;
}

.menu:before,.menu_active:before {
	display: inline-block;
	margin-right: 12px;
	float: left;
	margin: -8px 16px 0 0;
	content: url('data:image/svg+xml;utf8, <svg height="30" width="30" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 406.5 406.5" style="enable-background:new 0 0 406.5 406.5;" xml:space="preserve"></svg>');
}

