body, table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}

.loginTitle {
	color: #333;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
}
.loginLabel {
	color: #333;
	font-size: 12px;
}
.loginInput {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 12px;
	color: #000000;
	width: 160px;
}
.loginError {
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
	margin: 12px;
}


.headerTitle {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial,Helvetica,sans-serif;
}
a.headerLogout {
	padding-right: 20px;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	/*text-shadow: 1px 1px 0 #333; */
	font-family: Arial,Helvetica,sans-serif;
	text-decoration: none;
	padding-left: 5px;
}
a.headerLogout:before {
	display: inline-block;
	float: left;
	margin-bottom: -20px;
	margin-top: -5px;
}

#menu_logout:before{
	content: url("images/share/logout.png");
}

#menu_admin:before{
	content: url("images/share/user.png");
}
a.menuItem {
	font-size: 13px;
	font-weight: bold;
	color: #0969b5;
	text-decoration: none;
}
a.menuItem:hover {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none; 
}

a.menuItem:focus, a.menuItem:active {
	font-size: 13px;
	font-weight: bold;
	color: #000000;  ! important
	text-decoration: none; 
	outline:none;
}

.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #fff;
    text-shadow: 1px 1px 0 #333;
    font-family: Arial,Helvetica,sans-serif;
}

#masterdiv {
        list-style:none;
}

.menu:visited {
		color: #FFF;
        display: block;
        background:  url(images/menu_default.png);
		-moz-border-radius-bottomleft: 10px;
        
}

/* ============== YAEL 05/2018 ========================= */
/* === RESET CSS ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* ================== */
/* ================================================== */
/* ================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body, table {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
html, body{
font-family: 'Montserrat', sans-serif;

}

.headerTable{
background: #3e5771;
padding: 15px;
    height: 30px;
    min-height: 30px;
}
.headerTable > tbody > tr > td{
    vertical-align: middle;
    padding: 4px;
}
.menu{
padding: 20px 30px;
border-bottom: 1px solid #3e5671;
cursor: pointer;
}
.menu:hover{background-color: #374d66;}
.menu:active{background-color: #374d66;}
.menu_active{
background-color: #1bbd9b;
padding: 20px 30px;
cursor: pointer;
}

.submenu{border-bottom: 1px solid #3e5671;
}
.submenu > table{
	width: 100%;    
	margin-bottom: 33px;
    background: #202c38;
}
a.submenuItem, a.submenuItemActive {
	padding: 8px 10px 8px 30px;
    font-size: 14px;
    display: block;
    color: #b4c0cc;
cursor: pointer;
border-bottom: 1px solid #394f68;
}
a.submenuItem:hover {color: #fff; background: #263441;}
a.submenuItemActive {color: #1bbd9b;}
.breadcrumb{
	border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    color: #506c89;
}
p, li, td, .menu_active, input, button {
    font-family: 'Montserrat', sans-serif;
}
.border-bottom-devider {
    border-bottom: 3px solid #d7dadc;
}

.menu:before,.menu_active:before {
	display: inline-block;
	margin-right: 12px;
	float: left;
	margin: -8px 16px 0 0;
	content: url('data:image/svg+xml;utf8, <svg height="30" width="30" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 406.5 406.5" style="enable-background:new 0 0 406.5 406.5;" xml:space="preserve"><g><path fill="white" d="M369,57.3H37.4C21,57.3,7.7,70.7,7.7,87.1v232.3c0,16.4,13.4,29.8,29.7,29.8H369c16.4,0,29.8-13.4,29.8-29.8V87.1C398.8,70.7,385.4,57.3,369,57.3z M108.7,78.1h181L252,108.9c-5.7-3.9-12.7-6.1-20.1-6.1c-19.9,0-36.1,16.2-36.1,36.1c0,4.8,1,9.4,2.7,13.6L179,168.4c-1.5,1.2-2.5,2.7-3.1,4.4c-0.8,1.5-1.3,3.1-1.3,4.9V204h-65.9V78.1z M247.1,138.9c0,8.4-6.8,15.2-15.2,15.2s-15.2-6.8-15.2-15.2c0-8.4,6.8-15.2,15.2-15.2S247.1,130.5,247.1,138.9z M108.7,224.9h65.9v31.4h-65.9V224.9z M28.4,87.1c0-4.8,4.1-8.9,8.9-8.9h50.5v178.2H28.4V87.1z M378,319.4c0,4.8-4.1,8.9-8.9,8.9H37.4c-4.9,0-8.9-4.1-8.9-8.9v-42.2H378V319.4z M378,256.3h-55.4v-91.6h32.4v-20.9h-42.7c-5.1,0-9.4,3.7-10.3,8.6c-0.2,0.7-0.3,1.5-0.3,2.3v48h-43.3v20.9h43.3v32.6H195.5v-74.4l16.1-13.1c5.8,3.9,12.8,6.3,20.3,6.3c19.9,0,36.1-16.2,36.1-36.1c0-4.9-1-9.6-2.8-13.9l57.5-46.9H369c4.9,0,8.9,4.1,8.9,8.9V256.3z"/><path fill="white" d="M182.9,313.3h40.5c5.8,0,10.4-4.7,10.4-10.4c0-5.8-4.7-10.4-10.4-10.4h-40.5c-5.8,0-10.4,4.7-10.4,10.4C172.5,308.6,177.1,313.3,182.9,313.3z"/></g></svg>')
}

.grow-wrap {
	display: grid;
  }
  .grow-wrap::after {
	content: attr(data-replicated-value) " ";
  
	white-space: pre-wrap;
  
	visibility: hidden;
  }
  .grow-wrap > textarea {
	resize: none;
  
	overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
	border: 1px solid black;
	padding: 0.5rem;
	font: inherit;
  
	grid-area: 1 / 1 / 2 / 2;
  }
  .textarea {
	display: block;
	width: 100%;
	overflow: hidden;
	resize: both;
	min-height: 40px;
	line-height: 20px;
  }
  
  .textarea[contenteditable]:empty::before {
	content: "Placeholder still possible";
	color: gray;
  }

  
  .gridline{
	stroke: black;
	stroke-opacity: .2;
	}

	.listening-rect {
		fill: transparent;
	  }
	.wrapper {
	position: relative;
	}

	.grid-item { width: 25%; }
	.grid-item--width2 { width: 50%; }