body, table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}
.headerTable {
	background: -webkit-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -o-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -ms-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: -moz-linear-gradient(top, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	background: linear-gradient(to bottom, rgb(165, 173, 218) 0%, rgb(109, 130, 197) 19%, rgb(54, 71, 171) 39%, rgb(47, 51, 163) 100%);
	border: 1px solid #999999;
}

.loginTitle {
	color: #333;
	font-size: 16px;
	font-weight: bold;
}
.loginLabel {
	color: #333;
	font-size: 12px;
}
.loginInput {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	margin: 1px;
	font-size: 12px;
	color: #000000;
	width: 160px;
}
.loginError {
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
}


.headerTitle {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial,Helvetica,sans-serif;
}
a.headerLogout {
	background: url("images/logout.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
	padding-left: 20px;
    cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #333;
	font-family: Arial,Helvetica,sans-serif;
    margin: 3px;
    text-decoration: none;
}
a.headerLogout:hover {
	background: url("images/logout-red.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
}

a.menuItem {
	font-size: 13px;
	font-weight: bold;
	color: #0969b5;
	text-decoration: none;
}
a.menuItem:hover {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none; 
}

a.menuItem:focus, a.menuItem:active {
	font-size: 13px;
	font-weight: bold;
	color: #000000;  ! important
	text-decoration: none; 
	outline:none;
}

a.submenuItem {
		font-size: 13px;
		font-weight: bold;
		color: #0969b5;
		margin-left : 10px;
		
		background: url(images/bullet_default.png) no-repeat center left; /*custom bullet list image*/
		padding: 10px 0;
		padding-left: 15px; /*link text is indented 19px*/
		text-decoration: none;
        text-indent: left;
}
a.submenuItemActive {
		font-size: 13px;
		font-weight: bold;
		color: #0969b5;
		margin-left : 10px;
		
		background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
		padding: 10px 0;
		padding-left: 15px; /*link text is indented 19px*/
		text-decoration: none;
        text-indent: left;
}
a.submenuItem:hover {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
	text-decoration: none; 
}

a.submenuItem:focus, a.submenuItem:active {
	font-size: 13px;
	font-weight: bold;
	color: #000000;  
	background: url(images/bullet_active.png) no-repeat center left; /*custom bullet list image*/
	
	text-decoration: none; 
	outline:none;
}


.copyright {
	font-size: 10px;
	font-weight: normal;
	color: #fff;
    text-shadow: 1px 1px 0 #333;
    font-family: Arial,Helvetica,sans-serif;
}

#masterdiv {
        width:160px;
        #padding:10px;
        #margin:1px;
        list-style:none;
}

.menu {
        text-decoration:none;
        text-indent: 50px;
        line-height: 1.6;
        color: white;
        font-family: System, serif;
        font-size: 17px;
		-moz-border-radius:5px;  
		border-radius: 5px;  
        background:  url(images/menu_default.png)  no-repeat center left;
        width: 160px;
        height: 32px;
        margin: 3px;
        cursor:pointer;
}



.menu:hover {
        background:  url(images/menu_active.png);
		-moz-border-radius-bottomleft: 10px;
        
}

.menu:active {
        background:  url(images/menu_active.png);
		-moz-border-radius-bottomleft: 10px;
       
}

.menu_active {
        text-decoration:none;
        text-indent: 50px;
        line-height: 1.6;
        color: white;
        font-family: System, serif;
        font-size: 17px;
        background:  url(images/menu_active.png)  no-repeat center left;
		-moz-border-radius:5px;  
		border-radius: 5px;  
        width: 160px;
        height: 32px;
        margin: 3px;
        cursor:pointer;
       
}

.menu:visited {
		color: #FFF;
        display: block;
        background:  url(images/menu_default.png);
		-moz-border-radius-bottomleft: 10px;
        
}

.submenu {
		
	background: -moz-linear-gradient(top, #d1e8ff 0%, #bfe8f9 34%, #8acff2 70%, #5eaeff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1e8ff), color-stop(34%,#bfe8f9), color-stop(70%,#8acff2), color-stop(100%,#5eaeff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d1e8ff 0%,#bfe8f9 34%,#8acff2 70%,#5eaeff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#5eaeff',GradientType=0 ); /* IE6-9 */
	-moz-border-radius:5px;  
	border-radius: 5px;  
    margin-left: 13px;
	width: 150px;
    line-height: 0.5;
    background-color: 99ccff;
    float: down;
    clear: center;
    cursor: pointer;
	font-family:Arial, Helvetica, sans-serif;
	color:#33333;
	font-size:10px;
}

